*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

:root{
    --fraca:#c3adff;
    --fraca2:#a896f5;
    --media:#8d7feb;
    --mediaforte:#7168e1;
    --forte:#5651d7;
    --preto:#0b2021;
}

body{
    background-color: var(--fraca2);
    height: 100vh;
    padding-left:  1rem;
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

.container{
    transition: 0.6s ease-out;
    background-color: var(--fraca);
    
    align-items: center;
}

/*ESTILOS DA CAIXA DE BUSCA*/
.container-search{
    width: 80vh;
    height: 12vh;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
}

.search-box{
    background-color: transparent;
}

.search-box input{
    
    background-color: transparent;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 5rem;
}

.search-box input::placeholder{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--preto);
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    color: var(--preto);
    background: transparent;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: 0.4s ease;
}

.search-box button:hover{
    background-color: var(--media);
}

.search-box i{
    font-size: 1.5rem;
}

/*ESTILOS DO CONTAINER DE VISUALIZAÇÃO DO TEMPO*/
.container-wheater{
    height: 80vh;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.cidade{
    display: flex;
    justify-content: center;  
}
.cidade p{
    font-weight: 600;
    font-size: 3rem;
}
.weather-box{
    display: flex;
    justify-content: center;
}

.weather-details{
    display: flex;
    justify-content: space-around;
}




